.services-details-content {
  width: 50%;
}
.services-details-content h1 {
  color: var(--text-base);
  font-size: 32px;
  font-weight: 500;
}
.services-details-content h2 {
  color: var(--text-light);
  margin: 8px 0;
}
.services-details-content p {
  margin: 36px 0;
  color: var(--text-light);
  line-height: 26px;
}
.services-details-image {
  width: 100%;
  position: relative;
  background-image: url(/assets/service-details/service-details-decoration-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.services-details-image-one {
  position: relative;
  width: 570px;
  height: 380px;
}
.services-details-image-two {
  position: relative;
  top: -40px;
  right: -250px;
}
@media (max-width: 1280px) {
  .services-details-content {
    width: 90%;
    text-align: center;
  }
  .services-details-image {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .services-details-content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 640px) {
  .services-details-image-two {
    right: -18px;
  }
  .services-details-image-one {
    width: 100%;
    height: auto;
    left: 18px;
    scale: 1.5;
  }
}
