/* =====About-Section===== */
.about-section {
  width: 100%;
}
.about-section-content {
  width: 470px;
  height: auto;
}
.about-section-content h1 {
  font-size: 45px;
  line-height: 53px;
  color: var(--text-base);
  margin: 8px 0 24px 0;
}
.about-section-content q {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-base);
}
.about-section-content p {
  margin: 24px 0 30px 0;
}
.about-section-content a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  padding: 16px 30px 16px 30px;
  border-radius: 5px;
  background-color: var(--text-header);
}
.about-section-image {
  height: 500px;
  width: 650px;
  background-image: url(/assets/about/about-section-decoration.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-left: 100px;
}
.about-section-image-one {
  position: relative;
  top: 130px;
  right: 50px;
  z-index: 1;
}
.about-section-image-two {
  position: relative;
  top: -540px;
  left: 240px;
}
@media (max-width: 1024px) {
  .about-section-content {
    text-align: center;
    margin: 0 0 60px 0;
    width: 90%;
  }
  .about-section-image {
    margin-bottom: 60px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .about-section {
    width: 100%;
  }
  .about-section-content {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .about-section-image {
    width: 90%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 60px;
  }
  .about-section-image-two {
    left: 190px;
  }
}
@media (max-width: 400px) {
  .about-section-image-two {
    top: -370px;
    left: 90px;
  }
}
/* =====What-we-do===== */
.what-we-do-image {
  width: 50%;
  height: 500px;
  background-image: url(/assets/about/about-section-what-we-do-decoration.svg);
}
.what-we-do-content {
  width: 50%;
}
.what-we-do-content h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  color: var(--text-base);
}
.what-we-do-content h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-base);
}
.what-we-do-content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-header);
}
.what-we-do-content p {
  color: var(--text-light);
  width: 470px;
}

@media (max-width: 1024px) {
  .what-we-do {
    flex-direction: column-reverse;
  }
  .what-we-do-image {
    margin-bottom: 40px;
  }
  .what-we-do-content {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .what-we-do-content p {
    width: 90%;
  }
  .what-we-do-image {
    width: 90%;
    height: auto;
    background-image: none;
  }
  .what-we-do-image img {
    width: 90%;
    height: auto;
  }
}

/* =====Why-Chose-Us===== */

.why-chose-us-content {
  width: 570px;
}
.why-chose-us-content h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  color: var(--text-base);
  margin-bottom: 38px;
}
.why-chose-us-content h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-base);
  margin-bottom: 8px;
}
.why-chose-us-content h3 {
  font-weight: 500;
  color: var(--text-header);
}

@media (max-width: 640px) {
  .why-chose-us-content {
    width: 90%;
  }
}
