.faq-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-header);
}
.faq-section h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: var(--text-base);
}
.faq-question {
  width: 570px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.faq-question h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.faq-question p {
  color: #707070;
  margin: 0 30px;
}
.faq-question button {
  width: 570px;
  height: 83px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .faq-section h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 640px) {
  .faq-seciton-content {
    width: 100%;
  }
  .faq-section {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .faq-question button {
    width: 100%;
  }
  .faq-question {
    width: 90%;
  }
  .faq-answer {
    width: 100%;
  }
}
