/* =====Team-members===== */

.team-member h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  color: var(--text-base);
}
.team-member h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--text-header);
}
.team-member h3 {
  margin-top: 6px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-light);
}
.team-member p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-base);
  margin: 24px;
}
.team-member-profile {
  width: 270px;
  height: 378px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  transition: 500ms;
}
.team-member-profile:hover {
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
}
.team-member-profile h2 {
  margin-top: 24px;
  text-align: center;
}
.team-member-profile-img {
  width: 270px;
  height: 270px;
}
.social-links {
  position: relative;
  top: -350px;
  left: 190px;
}
.social-links a {
  margin: 10px;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
  place-items: center;
}
@media (max-width: 1230px) {
  .team-members-container {
    flex-direction: column;
  }
  .team {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .team-member h1 {
    padding-top: 20px;
  }
  .team-member p {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .team {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .team {
    grid-template-columns: 1fr;
  }
}
