@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --text-base: #444444;
  --text-light: #707070;
  --text-header: #ff4f4f;
  --background: #ffffff;
  --background-light: #f0f0f0;
  --dark-blue: #182957;
  --light-blue: #2d4c9f;
  --price-background: #ffe5e5;
  --swiper-pagination-top: 370px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-theme-color: #ff4f4f !important;
  --swiper-pagination-bullet-inactive-color: rgba(172, 172, 172, 1);
  --swiper-pagination-bullet-inactive-opacity: 1;
}

[data-theme="dark"] {
  --text-base: #e4dafb;
  --text-light: #d2beffb2;
  --text-header: #94a0c2;
  --background: #090317;
  --background-light: #110a24;
  --price-background: #2d2c64;
  --swiper-theme-color: #94a0c2 !important;
  --swiper-pagination-bullet-inactive-color: #e4dafb;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* ===================Utils=================== */
.bg-color {
  background-color: var(--background);
}
.text-header {
  color: var(--text-header);
}
.text-base {
  color: var(--text-base);
}
.text-light-gray {
  color: var(--text-light);
}
.bg-header {
  background-color: var(--text-header);
}
.bg-very-light-gray {
  background-color: var(--background-light);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.h-25 {
  height: 100px;
}
.wrapper {
  max-width: 1170px;
  padding: 128px 0;
}
.pt-29 {
  padding-top: 120px;
}
.pb-29 {
  padding-bottom: 120px;
}
.py-29 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pb-18 {
  padding-bottom: 70px;
}
.mt-17 {
  margin-top: 70px;
}
.mt-13 {
  margin-top: 50px;
}

/* ===================Effects=================== */

.hoverEffect {
  scale: 1;
  transition: 500ms;
}
.hoverEffect:hover {
  scale: 1.1;
}
